{% extends 'catalog/home.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        {%  for product in object_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <p class="text-start">{{ product.description | slice:100 }}</p>
                    <img class="card-img-top" src="{{ product.photo | media_filter }}" width="300" height="200">
                    <h1 class="card-title pricing-card-title"></h1>
                    <a class="btn btn-primary" href="{% url 'catalog:product_detail' product.pk %}" role="button">Подробно</a>
                </div>
            </div>
        </div>
        {%  endfor %}
    </div>
</div>
{% endblock %}